* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif, impact, CalypsoEExtraBold;
  color: #333;
  font-size: 0.8em;
  line-height: 2em;
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

.p {
  margin-bottom: 1.1em;
}

h1 {
  font-size: 2r;
  line-height: 1.3em;
}

main {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 0px;
}

/* Variables */

:root {
  --color-fondo-grid: #f2f2f2;
  --padding-grid-academy: 5px;
  --background-footer: #333;
  --primary-color: rgba(50, 50, 50,);
  --overlay-color: rgba(13, 110, 139, 1);
  --menu-speed: 0.75s;
}

/* Navegador + Header */

li,
a,
button {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.header1 {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 4%;
  background: rgba(3, 3, 3, 0.4);
  color: white;
  z-index: 3;
}

nav {
  padding-right: 4%;
}

.header {
  background: red;
  color: #333;
}

.showcase h1 {
  font-family: "Playfair Display SC", serif;
}

.logo {
  cursor: pointer;
  width: 40%;
  padding: 0.1em;
}

#logo {
  cursor: pointer;
  width: 40%;
  padding: 0.1em;
}

.center {
  width: 50%;
  padding: 0.1em;
}

/*top & btn*/

.nav_links {
  list-style: none;
  justify-content: space-between;
}

.nav_links li {
  display: inline-block;
  padding: 0 50px;
}

.nav_links li a {
  transition: all 0.3 ease 0;
}

.nav_links li a:hover {
  color: red;
}

.container {
  margin: 0;
  overflow: hidden;
  padding: 0, 3rem;
}

.showcase {
  background-color: var(--primary-color);
  color: white;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: "";
  background: url("../img/header_final_2.png") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 10rem;
}

.showcase p {
  font-size: 1.2em;
  letter-spacing: 1.5em;
  padding-top: 3em;
}

.btn {
  display: inline-block;
  border: none;
  background-color: #333;
  color: white;
  border: 1px solid white;
  padding: 0.75rem 1.5rem;
  margin-top: 6rem;
  text-decoration: none;
  transition: opacity 0.2s ease-in;
}

.btn:hover {
  opacity: 0.7;
}

.navigation ul li a:hover {
  background: red;
}

/* About */

.sobre-nosotros{
  background: url("../img/img-noise-2000x800.png")center/cover;;
  padding: 8%; 
  padding-top:0.3em;
}

.titulo-about{
font-size: 50px;
color: RGB(219, 217, 199);
padding-bottom:1em;
padding-top:0.4em;
text-align:center;
letter-spacing: 0.5em;
}

.texto_about{
color: RGB(219, 217, 199);
font-size:13px;
padding-right: 6em;
padding-left: 6em;
text-align: center;
justify-content:center;
vertical-align: bottom;
}

.articulo_texto {
  margin: 5px;
  padding: 20px;
}


/* Planes */
#titulo_pro{
    padding-left: 1em;
    font-size: 57px;
    color: rgba(0,0,0,.5);
    padding: 4%;
    padding-bottom: 1%;
}

.pro_academy {
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-right: 25%;
  margin-left: 25%;
  text-align: justify;
  grid-template-rows: 500px;
  background-color: white;
  color: #333;
  padding: 10px;
}

#grid_planes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  text-align: center;
  width: 100%;
  height: 60vh;
}

.img_planes {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover/cover;
  text-align: center;
  z-index: 1;
}

#img_academy {
  background: url("../img/plan_academy.png") center/cover;
}

#img_pro {
  background: url("../img/plan_pro.png") center/cover;
}

#img_academy:hover {
  color: #333;
  opacity:93%;
}


#img_pro:hover {
  color: #333;
  opacity:93%;
}


#texto_planes_academy {
  position: absolute;
  top: 11%;
  left: 12%;
  color: white;
  font-weight: bold;
  font-size: 3em;
}

#texto_planes_pro {
  position: absolute;
  top: 11%;
  left: 62%;
  color: white;
  font-weight: bold;
  font-size: 3em;
}

/* North Pro */

.pro {
  background-color: var(--color-fondo-grid);
  padding: var(--padding-grid-academy);
  margin: 7%;
  margin-top: 6%;
}

.botones_mas_menos {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover/cover;
  text-align: center;
  z-index: -1;
  height: 7%;
  width: 7%;
  transform: scale(1.7);
}

#academy_menos,
#academy_mas {
  top: 10%;
  left: 5%;
  position: absolute;
}

#pro_menos,
#pro_mas {
  top: 10%;
  left: 55%;
  position: absolute;
}

.academy {
  grid-gap: 3em;
  text-align: justify;
  background-color: white;
  color:rgba(0,0,0,.5);  ;
  padding: 4%;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: 1fr; */
  text-align: center;
  transition: visibility 0s, opacity 0.5s linear;
}

.pro h3 {
  font-size: 3em;
}

.academy h3 {
  padding-bottom: 0.1em;
  padding-top: 1.2em;
  font-size: 2em;
  text-align: center;
}

.titulo_academy {
  font-size: 2em;
  padding-bottom: 5em;
  text-align: center;
}

.mapa {
  width: 100%;
  border: none;
}

.parrafo_academy {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--color-fondo-grid);
  padding: var(--padding-grid-academy);
  text-align: justify;
  width: 100%;
  margin: 0 auto;
}

#id_academy,
#id_pro {
  display: none;
}

#academy_menos,
#pro_menos {
  visibility: hidden;
}

.conceptos_izq {
  background-color: var(--color-fondo-grid);
  padding: var(--padding-grid-academy);
  padding-left: 10px;
  padding-right: 10px;
  grid-area: 1 / 2 / 2 / 3;
}

.conceptos{
  background-color: var(--color-fondo-grid);
  padding: var(--padding-grid-academy);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.3em;
  padding-bottom: 1%;
  grid-area: 1 / 2 / 2 / 3;
  font-size: 14px;
}

.conceptos ul li {
  margin: 10px 0;
  color: #333;
}

.conceptos_izq {
  list-style: none;
}

.bilbao {
  background-color: var(--color-fondo-grid);
  padding: var(--padding-grid-academy);
  grid-area: 1 / 3 / 2 / 4;
  padding-top: 5%;
}

.bilbao ul,
.barakaldo ul {
  display: inline-block;
  vertical-align: top;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 20px;
  list-style: none;
}

.bilbao ul li,
.barakaldo ul li {
  color: rgba(0,0,0,.5);  ;
}

.barakaldo {
  background-color: var(--color-fondo-grid);
  padding: var(--padding-grid-academy);
  grid-area: 1 / 4 / 2 / 5;
  padding-top: 5%;
}

.desc_academy {
  font-size: 14px;
  line-height: 1.2em;
  margin: 4%;
  padding: 0em;
  padding-left: 0%;
  padding-right: 9%;
  color:rgba(0,0,0,.5);
}

.registro {
  line-height: 9em;
  background-color: RGB(218, 14, 23);
  border: none;
  color: white;
  padding: 9px 47px;
  margin-bottom: 2px;
  text-decoration: none;
  cursor: pointer;
  padding-top: 1em;
}

.ubicacion {
  color: #333;
}

.ubicacion:hover {
  color: #555;
}

/* Hook */
.Hook{
  background-color: RGB(128, 0, 0);
  padding: 8%; 
}

.titulo-Hook{
font-size: 34px;
color: RGB(219, 217, 199);
padding-bottom: 1em;
text-align:center;
line-height: 30pt;
}

.texto_Hook{
color: RGB(219, 217, 199);
font-size:15px;
padding-right: 8em;
padding-left: 8em;
text-align: justify;
justify-content:center;
vertical-align: bottom;
}

/* Sección formulario */

#seccion_formulario {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  text-align: left;
  grid-template-rows: 1fr;
  color: #333;
  font-size: 1.4em;
  background-color: #f2f2f2;
}

/* Formulario */

form {
  padding: 20px;
  text-align: left;
}

.title_contacto {
  color: #333;
  font-size: 2em;
  text-align: center;
}

input[type="text"],
input[type="email"] {
  width: 94%;
  padding: 5px 22px 5px 8px;
  margin: 20px 20px;
  height: 3em;
  box-sizing: border-box;
  border: 5px transparent;
  border-radius: 0px;
}

#select_tema {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  width: 94%;
  padding: 5px 22px 5px 8px;
  margin: 20px 20px;
  box-sizing: border-box;
  border: 5px transparent;
  background-color: white;
  height: 3em;
  color:#797979;
  -webkit-appearance: button;
}

#select_tema:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

textarea {
  margin-top: 10px;
  width: 94%;
  resize: none;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid transparent;
  margin: 20px 20px;
  margin-top: 0;
  padding: 5px 22px 5px 8px;
  line-height: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="submit"] {
  background-color: #333;
  border: none;
  color: white;
  padding: 20px 40px 20px 20px;
  text-decoration: none;
  margin-left: 7em;
  cursor: pointer;
  width: 55%;
  height: 39%;
}

#formArriba {
  text-align: center;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 10px;
}

.formInterior {
  width: 100%;
  text-align: left;
  padding-top:0.5em;
  padding-bottom: 0.4em;
}

/* Footer */

footer {
  background-color: var(--background-footer);
  height: 350px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  text-align: justify;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  color: white;
}

#menu-footer {
  position: relative;
  vertical-align: middle;
  align-self: center;
}

#rrss {
  text-align: right;
  align-self: center;
}

#copyright, #copyright a {
  align-self: flex-end;
  font-weight: bold;
  font-size: 0.7rem;
}

footer ul {
  margin: 1;
  padding: 0;
  list-style: none;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 2px;
  padding: 1rem, 2rem;
  text-decoration: none;
  color: white;
}

footer ul li a:hover {
  background: #3b3b3b;
}

/* ANIMACIONES */
#id_pro,#id_academy {
  animation-duration: 1.3s;
  animation-name: taadaa; 
}

@keyframes slidein {
    /*from {
        margin-top: 65%;
        width: 500%
    }

        to {
        margin-bottom: 35%;
        width: 100%;
    }*/
}
@keyframes taadaa {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
